body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
.usercardWrapper {
  border: 2px solid black;
  height: 550px;
  width: 304px;
  margin: 10px;
}

.imgWrapper {
  height: 300px;
}

.img {
  position: absolute;
  display: block;
  width: 300px;
  height: inherit;
}
.fullName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.descriptionText {

  display: inline-block;
  text-align: center;
  padding: 5px;
  font-family: monospace;
}
